doctype html
html
  head
    meta(charset='uft-8')
    title FILINK
    link(rel='stylesheet' href='css/index.css')
    style.
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400&display=swap');
  body
    #heading
      h1 FILINK
      button#loginb(onclick='location.href="/login"') LOGIN
      button#registerb(onclick='location.href="/registration"') REGISTER
    #about
      h2 WHAT'S FILINK
      #filink 
        p FILINK IS A SIMPLE FILE TO URL CONVERTER THAT ALSO KEEPS TRACK OF THE FILES YOU HAVE UPLOADED
        p WE HAVE A SIMPLE INTERFACE RESULTING IN SMOOTH UI
        p OUR SERVICES ARE USER FRIENDLY AND BEGINNER FRIENDLY AND THUS YOU CAN GET YOUR TASK DONE VERY EASILY
        p WE ARE SORRY, BUT SINCE WE ARE TRACKING YOUR UPLOADS, REGISTRATION IS MANDATORY 
        p BUT GUESS WHAT? OUR SERVICES ARE COMPLETELY FREE, AND ALL YOU NEED TO ENTER IS YOUR NAME, USERNAME AND PASSWORD THAT'S IT 
        p GO AHEAD AND REGISTER FOR USING THE FILE TO URL SERVICES