doctype html
html
  head
    meta(charset='uft-8')
    title FILINK
    link(rel='stylesheet' href='css/registration.css')
    style.
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400&display=swap');
  body
    #heading
      h1 FILINK
      button#homeb(onclick='location.href="/"') HOME
    #content
      h2 REGISTER
      form#register(method='POST' action='/registration')
        label(for='name') ENTER NAME:
        br
        input#name(type='text' name='name')
        br
        br
        label(for='username') ENTER USERNAME:
        br
        input#username(type='text' name='username')
        br
        br
        label(for='password') ENTER PASSWORD:
        br
        input#password(type='password' name='password')
        br
        br
        button#submit(type='submit') REGISTER
        br
        br
